mobile/web/WEB-INF/wsdl/196.216.64.237_8080/webdirect/onlinepay.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="onlinepay">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://196.216.64.237:8080/webdirect/onlinepay?xsd=1" />
</xsd:schema>
</types>
<message name="formData">
<part name="parameters" element="tns:formData" />
</message>
<message name="formDataResponse">
<part name="parameters" element="tns:formDataResponse" />
</message>
<message name="link">
<part name="parameters" element="tns:link" />
</message>
<message name="linkResponse">
<part name="parameters" element="tns:linkResponse" />
</message>
<message name="hello">
<part name="parameters" element="tns:hello" />
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse" />
</message>
<message name="pickData">
<part name="parameters" element="tns:pickData" />
</message>
<message name="pickDataResponse">
<part name="parameters" element="tns:pickDataResponse" />
</message>
<portType name="Onlinepay">
<operation name="formData">
<input wsam:Action="http://service/Onlinepay/formDataRequest" message="tns:formData" />
<output wsam:Action="http://service/Onlinepay/formDataResponse" message="tns:formDataResponse" />
</operation>
<operation name="link">
<input wsam:Action="http://service/Onlinepay/linkRequest" message="tns:link" />
<output wsam:Action="http://service/Onlinepay/linkResponse" message="tns:linkResponse" />
</operation>
<operation name="hello">
<input wsam:Action="http://service/Onlinepay/helloRequest" message="tns:hello" />
<output wsam:Action="http://service/Onlinepay/helloResponse" message="tns:helloResponse" />
</operation>
<operation name="pickData">
<input wsam:Action="http://service/Onlinepay/pickDataRequest" message="tns:pickData" />
<output wsam:Action="http://service/Onlinepay/pickDataResponse" message="tns:pickDataResponse" />
</operation>
</portType>
<binding name="OnlinepayPortBinding" type="tns:Onlinepay">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="formData">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="link">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="hello">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="pickData">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="onlinepay">
<port name="OnlinepayPort" binding="tns:OnlinepayPortBinding">
<soap:address location="http://196.216.64.237:8080/webdirect/onlinepay" />
</port>
</service>
</definitions>